@charset "utf-8";

.wrapper {
    width: 75%;
    margin: auto;
}
.page {
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    font-weight: bold;
}
.textBox {
    background: #f0e68c;
}
p {
    color : brown;
}

#textBox{
    font-size : 20px;
}
.image {
    background: #4169e1;
}
.btn {
    background: #ffb6c1;
}
.font-main {
    padding: 2px;
  }
#btn1 {
    margin-bottom: 4px;
  }
.header,
.footer {
    text-align: center;
    background: #ccc;
    padding: 20px;
}

