<div class="btn page">
    <p class="title">Hello btn !</p>
    <div id="area1">
      <button type="button" id="btn1">今日は何日ですか？</button>
      <br>
      <input type="text" id="tBox" class="font-main" />
    </div>
    <script type="text/javascript" src="../assets/btn.js"></script>
</div>